.headerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogin img {
  max-width: 30vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 200px;
  max-height: 80vh;
}

.form fieldset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 250px;
  max-width: 90vw;
}

.form label {
  color: #727376;
  font-weight: 900;
}

.form input {
  border-radius: 0.5em;
  text-align: center;
}

.form button {
  margin-right: 1em;
}

@media (min-width:321px) and (max-width:1024px) {
  .headerLogin img {
    width: 30vw;
    max-width: 10em;
  }

  .form fieldset {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  .form input {
    height: 2em;
    border-radius: 1em;
  }
}

@media (min-width:1025px) {
  .headerLogin img {
    max-width: 10vw;
  }
  
  .form fieldset {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  .form input {
    height: 2em;
    border-radius: 1em;
  }
}
